ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
body {
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
  /*background: linear-gradient(to right, #eacda3  , #d6ae7b);*/
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: rgb(31, 29, 29);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  padding-block-start: 20px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
