<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This website is developd to identify the safety of url."
    />
    <meta
      name="keywords"
      content="phishing url,phishing,cyber security,machine learning,classifier,python"
    />
    <meta name="author" content="Santhosh" />

    <!-- BootStrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link href="static/styles.css" rel="stylesheet" />
    <title>URL detection</title>
  </head>
  <body>
    <ul>
      <li><a href="index">Home</a></li>
      <li><a href="contact">Knowledge hub</a></li>
      <li><a href="About">About</a></li>
    </ul>
    <div style="text-align: center; margin-top: 10px">
      <h2>PHISHING URL DETECTION</h2>
    </div>
    <div style="margin: 10opx;padding:30px;align-items:center;justify-content:center">
      This project is carried out at R V College of Engineering as minor project
      under the guidance of Dr.Nagaraja G.S Associate Dean PG CSE & CNE.
    </div>
  </body>
</html>
